* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin: 0 20px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

nav img{
  width: 30px;
  height: 30px;
}
.navbar{
  flex: 1;
  text-align: right;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
.navbar ul li a{
  text-decoration: none;
  font-weight: 200;
}
.navbar ul li a:hover{
  font-weight: 400;
  color: seashell;
}

.nav-btn button{
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 18px;
  background: #1e1e21;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border: none;
    outline: none;
}
.nav-btn button:hover{
  background: #ffffff;
  text-decoration: none;
  color: #0f0f10;
}

/* Main landing page */
main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.main{
  margin-left: 180px;
}
.mainImg{
  width: 230px;
  position: relative;
  top: -200px;
  left: 70px;
}
.onEar{
  width: 320px;
  margin-left: 50px;
  padding-top: 30px;
}
main h1{
  font-weight: 600;
  font-size: 46px;
  margin-bottom: 25px;
}

main h4{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 25px;
}
main p{
  width: 65%;
  font-size: 12px;
  font-weight: 300;
  color: #bdc0c2;
  line-height: 25px;
  margin-bottom: 25px;
}

.shopping-bag {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #1e1e21;
  border-radius: 8px;
  width: fit-content;
  padding: 10px 25px;
}

.shopping-bag img {
  width: 15px;
  background-color: transparent;
}

.shopping-bag p {
  margin-bottom: 0;
  color: white;
  background-color: transparent;
}

.shopping-bag span {
  background-color: transparent;
}

/* social */
.social div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

/* Specs */
.titleLogo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.specfication-list{
  display: flex;
  justify-content: space-around;
  padding:30px 69px 30px 50px;
}

.bluetooth{
  margin-left: 50px;
}
.mic{
  margin-left: 60px;
}
.specification-list-items{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
 
}
.specification-list-items div{
  margin-bottom: 25px;
}

.specification-list-items p{
  text-align:unset;
  font-size: 12px;
  
}

/* Case logo*/

.case-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}


.groupImg{
  display: flex;
  align-items: center;
  gap:20px;
  background: #1e1e21;
  border-radius: 8px;
  width: fit-content;
  padding: 10px 25px 10px 11px;
  margin-top: 30px;
}
.groupImg img{
  width: 15px;
  background-color: transparent;
}

/* case-list-two */

.case-list-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e1e21;
  border-radius: 8px;
  width: fit-content;
  padding: 10px 25px 10px 11px;
}
.case-list-two-items h1{
  background-color: #1e1e21;
}

/* buy product */
.buy-product {
  background: #181a1b;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
  padding: 40px 0;
}

.buy-product div,
.buy-product p,
.buy-product h3,
.buy-product img {
  background-color: transparent;
}

.buy-product div {
  width: 25%;
}

.buy-product div h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.buy-product div p {
  color: #bdc0c2;
  font-size: 14px;
  margin-bottom: 15px;
}

.buy-product div div {
  display: flex;
  align-items: center;
  width: fit-content;
  background: #000000;
  border-radius: 8px;
  padding: 10px 20px;
}

.buy-product div div img {
  scale: 0.8;
  margin-right: 10px;
}

.buy-product div div p {
  margin-bottom: 0;
  font-size: 12px;
  color: white;
}
/* products */

.product {
  display: flex;
  flex-direction: column;
  margin: 0 150px;
}

.product-logo {
  display: flex;
  flex-direction: column;
}

.product-logo {
  scale: 0.3;
}

.product-items {
  display: grid;
  grid-template-columns: repeat(2,0.1fr);
  grid-template-rows: repeat(2,0.1fr );
  gap: 50px;
  padding:30px;
  justify-content: center;
}

.product-card {
  position: relative;
  width: 140px;
  height: 140px;
  background: #181a1b;
  border-radius: 8px;
  margin-left: 14px;
}

.product-img {
  width: 75px;
  height: 100px;
  position: absolute;
  z-index: 100;
  top: -40px;
  left: 28px;
}

.product-img,
.product-card p,
.product-card span,
.product-card img,
.product-card div {
  background-color: transparent;
}

.product-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 15px;
  padding-left: 0px;
  padding-right: 16px;
  margin-left: 7px;
}

.product-info p {
  font-size: 12px;
margin-right: -48px;
  margin-left: 9px;
   padding-right: 10px;
}

.product-info p span {
  color: #bdc0c2;
}

.product-info div {
  background: #0a0a0b;
  border-radius: 15px;
  padding: 0px 0px;
  margin-right: 0px;
  margin-left: 26px;
}

.product-info div img {
  width: 13px;
  height: 13px;
}

/* footer */
footer{
  margin: 100px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.footer-logo{
  scale: 0.8;
}
footer ul li{
  list-style: none;
}

footer ul li a{
  font-size: 12px;
  color: #BDC0C2;
  text-decoration: none;
  }

  footer ul li a:hover{
      color: seashell;
  }

footer ul li:first-child a{
  font-size: 16px;
  font-weight: 400;
  color: white;
}

ul li:first-child{
  margin-bottom: 10px;
}

.footer-subscription{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-subscription div:first-child{
  background: #181A1B;
border-radius: 8px;
padding: 5px 10px;
display: flex;
}

.footer-subscription div:first-child input{
  border: none;
  background-color: transparent;
}

.subscribe-button{
  background: #0A0A0B;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribe-button img{
  scale: 0.8;
}

.subscribe-button p{
  font-size: 12px;
}

.footer-subscription div:last-child img{
  margin-right: 10px;
  scale: 0.8;
}

.arrow-up{
  position: absolute;
  right: -160px;
  scale: 0.8;
}